@font-face {
  font-family: "Press Start 2P";
  src: url(./assets/fonts/Plaguard-font.otf);
}
body {
  margin: 0;
  height: 100vh;
  font-family: "Press Start 2P";
  background-color: #00100b;
  color: #ffffff;
}

header {
  display: flex;
  justify-content: center;
}
#project-title {
  font-size: 72px;
  margin-top: 50px;
  font-weight: bolder;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}

#play-page {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
#play-page .divider {
  width: 2px;
  height: 600px;
  background-color: rgb(141, 141, 141);
}
#play-page .board-container {
  display: flex;
  flex-direction: column;
}

#play-page .board-container .board {
  width: 400px;
  height: 400px;
  background-color: rgb(238, 221, 146);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

#play-page .board-container .stats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#play-page .board-container .stats .lives-container {
  display: flex;
  gap: 10px;
  background-color: wheat;
  padding: 10px;
  border-radius: 50px;
}
#play-page .board-container .stats .lives-container img {
  width: 48px;
  height: 48px;
}
#play-page .board-container .stats .lives-container img.live-over {
  filter: grayscale(100%);
}

footer {
  color: #e1e6e4;
  position: absolute;
  bottom: 0px;
  width: 100%;
  font-size: 32px;
  display: flex;
  justify-content: center;
  margin: 48px 0px;
}

footer a {
  color: aqua;
}
